.134_72 { 
	overflow:hidden;
}
.e134_72 { 
	background-color:rgba(255, 255, 255, 1);
	width:428px;
	height:1616px;
	position:absolute;
}
.e134_73 { 
	width:41px;
	height:23px;
	position:absolute;
	left:35px;
	top:65px;
}
.134_74 { 
	border:1px solid rgba(191.00000381469727, 31.000000052154064, 45.00000111758709, 1);
}
.e134_74 { 
	width:41px;
	height:0px;
	position:absolute;
	left:0px;
	top:0px;
}
.134_75 { 
	border:1px solid rgba(191.00000381469727, 31.000000052154064, 45.00000111758709, 1);
}
.e134_75 { 
	width:41px;
	height:0px;
	position:absolute;
	left:0px;
	top:12px;
}
.134_76 { 
	border:1px solid rgba(191.00000381469727, 31.000000052154064, 45.00000111758709, 1);
}
.e134_76 { 
	width:41px;
	height:0px;
	position:absolute;
	left:0px;
	top:23px;
}
.e134_77 { 
	width:93px;
	height:98px;
	position:absolute;
	left:300px;
	top:28px;
	background-image:url(images/logo_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e134_78 { 
	color:rgba(191.00000381469727, 31.000000052154064, 45.00000111758709, 1);
	width:94px;
	height:25px;
	position:absolute;
	left:43px;
	top:1475px;
	font-family:Raleway;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
}
.e134_79 { 
	color:rgba(191.00000381469727, 31.000000052154064, 45.00000111758709, 1);
	width:94px;
	height:25px;
	position:absolute;
	left:146px;
	top:1475px;
	font-family:Raleway;
	text-align:center;
	font-size:11px;
	letter-spacing:0;
}
.e134_80 { 
	color:rgba(191.00000381469727, 31.000000052154064, 45.00000111758709, 1);
	width:94px;
	height:25px;
	position:absolute;
	left:288px;
	top:1520px;
	font-family:Raleway;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
}
.e134_81 { 
	color:rgba(191.00000381469727, 31.000000052154064, 45.00000111758709, 1);
	width:94px;
	height:25px;
	position:absolute;
	left:288px;
	top:1473px;
	font-family:Raleway;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
}
.e134_82 { 
	color:rgba(191.00000381469727, 31.000000052154064, 45.00000111758709, 1);
	width:94px;
	height:69px;
	position:absolute;
	left:68px;
	top:1500px;
	font-family:Raleway;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
}
.e134_83 { 
	color:rgba(191.00000381469727, 31.000000052154064, 45.00000111758709, 1);
	width:94px;
	height:69px;
	position:absolute;
	left:178px;
	top:1500px;
	font-family:Raleway;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
}
.e134_84 { 
	color:rgba(191.00000381469727, 31.000000052154064, 45.00000111758709, 1);
	width:141px;
	height:12px;
	position:absolute;
	left:287px;
	top:1493px;
	font-family:Raleway;
	text-align:left;
	font-size:11px;
	letter-spacing:0;
}
.e134_85 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:23px;
	height:23px;
	position:absolute;
	left:288px;
	top:1540px;
}
.e134_86 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:23px;
	height:23px;
	position:absolute;
	left:320px;
	top:1540px;
}
.134_87 { 
	border:1px solid rgba(191.00000381469727, 31.000000052154064, 45.00000111758709, 1);
}
.e134_87 { 
	width:405px;
	height:0px;
	position:absolute;
	left:11px;
	top:1437px;
}
.e134_88 { 
	width:46.42860794067383px;
	height:46.42860794067383px;
	position:absolute;
	left:343px;
	top:1312px;
}
.e134_89 { 
	width:46.42860794067383px;
	height:46.42860794067383px;
	position:absolute;
	left:0px;
	top:0px;
}
.e134_90 { 
	border-radius:500px;
	background-color:rgba(191.00000381469727, 31.000000052154064, 45.00000111758709, 1);
	width:46.42860794067383px;
	height:46.42860794067383px;
	position:absolute;
	left:0px;
	top:0px;
}
.e134_91 { 
	transform: rotate(-90.00000250447788deg);
	width:31px;
	height:0px;
	position:absolute;
	left:23.4285888671875px;
	top:39px;
}
.134_91 { 
	border:3px solid rgba(254.00000005960464, 251.00000023841858, 244.0000006556511, 1);
}
.e134_92 { 
	color:rgba(191.00000381469727, 31.000000052154064, 45.00000111758709, 1);
	width:341px;
	height:107px;
	position:absolute;
	left:40px;
	top:218px;
	font-family:Raleway;
	text-align:center;
	font-size:60px;
	letter-spacing:0;
}
.e134_93 { 
	color:rgba(191.00000381469727, 31.000000052154064, 45.00000111758709, 1);
	width:341px;
	height:107px;
	position:absolute;
	left:40px;
	top:341px;
	font-family:Raleway;
	text-align:center;
	font-size:60px;
	letter-spacing:0;
}
.e134_94 { 
	color:rgba(191.00000381469727, 31.000000052154064, 45.00000111758709, 1);
	width:341px;
	height:107px;
	position:absolute;
	left:40px;
	top:479px;
	font-family:Raleway;
	text-align:center;
	font-size:60px;
	letter-spacing:0;
}
.e134_95 { 
	color:rgba(191.00000381469727, 31.000000052154064, 45.00000111758709, 1);
	width:341px;
	height:107px;
	position:absolute;
	left:40px;
	top:608px;
	font-family:Raleway;
	text-align:center;
	font-size:60px;
	letter-spacing:0;
}
.e134_96 { 
	color:rgba(191.00000381469727, 31.000000052154064, 45.00000111758709, 1);
	width:341px;
	height:107px;
	position:absolute;
	left:40px;
	top:1100px;
	font-family:Raleway;
	text-align:center;
	font-size:60px;
	letter-spacing:0;
}
.134_97 { 
	border:1px solid rgba(191.00000381469727, 31.000000052154064, 45.00000111758709, 1);
}
.e134_97 { 
	width:352px;
	height:0px;
	position:absolute;
	left:35px;
	top:322px;
}
.134_98 { 
	border:1px solid rgba(191.00000381469727, 31.000000052154064, 45.00000111758709, 1);
}
.e134_98 { 
	width:352px;
	height:0px;
	position:absolute;
	left:35px;
	top:448px;
}
.134_99 { 
	border:1px solid rgba(191.00000381469727, 31.000000052154064, 45.00000111758709, 1);
}
.e134_99 { 
	width:352px;
	height:0px;
	position:absolute;
	left:35px;
	top:586px;
}
.134_100 { 
	border:1px solid rgba(191.00000381469727, 31.000000052154064, 45.00000111758709, 1);
}
.e134_100 { 
	width:352px;
	height:0px;
	position:absolute;
	left:35px;
	top:1079px;
}
.134_101 { 
	border:1px solid rgba(191.00000381469727, 31.000000052154064, 45.00000111758709, 1);
}
.e134_101 { 
	width:352px;
	height:0px;
	position:absolute;
	left:35px;
	top:1207px;
}
.134_102 { 
	border:1px solid rgba(191.00000381469727, 31.000000052154064, 45.00000111758709, 1);
}
.e134_102 { 
	width:352px;
	height:0px;
	position:absolute;
	left:40px;
	top:197px;
}
.e134_103 { 
	width:969px;
	height:347px;
	position:absolute;
	left:0px;
	top:669px;
}
.e134_104 { 
	width:289px;
	height:284px;
	position:absolute;
	left:92px;
	top:63px;
}
.e134_105 { 
	box-shadow:0px 0px 23px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:236px;
	height:156px;
	position:absolute;
	left:0px;
	top:0px;
}
.e134_106 { 
	color:rgba(0, 0, 0, 1);
	width:176px;
	height:64px;
	position:absolute;
	left:15px;
	top:22px;
	font-family:EB Garamond;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e134_107 { 
	color:rgba(0, 0, 0, 1);
	width:204px;
	height:37px;
	position:absolute;
	left:15px;
	top:75px;
	font-family:Familjen Grotesk;
	text-align:left;
	font-size:Symbol(figma.mixed)px;
	letter-spacing:0;
}
.e134_108 { 
	width:35px;
	height:26px;
	position:absolute;
	left:188px;
	top:28px;
}
.e134_109 { 
	border-radius:500px;
	background-color:rgba(0, 0, 0, 1);
	width:26px;
	height:26px;
	position:absolute;
	left:5px;
	top:0px;
}
.e134_110 { 
	color:rgba(255, 255, 255, 1);
	width:35px;
	height:17px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Familjen Grotesk;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e134_111 { 
	width:35px;
	height:26px;
	position:absolute;
	left:188px;
	top:75px;
}
.e134_112 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:26px;
	height:26px;
	position:absolute;
	left:5px;
	top:0px;
}
.134_112 { 
	border:0.30000001192092896px solid rgba(0, 0, 0, 1);
}
.e134_113 { 
	color:rgba(0, 0, 0, 1);
	width:35px;
	height:17px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Familjen Grotesk;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e134_114 { 
	width:172px;
	height:172px;
	position:absolute;
	left:117px;
	top:112px;
}
.134_115 { 
	overflow:hidden;
}
.e134_115 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:172px;
	height:172px;
	position:absolute;
	left:0px;
	top:0px;
}
.e134_116 { 
	width:308.635498046875px;
	height:205.75701904296875px;
	position:absolute;
	left:-68.31798553466797px;
	top:-12.85981273651123px;
	background-image:url(images/beef_udon_4306_i_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e134_117 { 
	width:271px;
	height:277px;
	position:absolute;
	left:396px;
	top:63px;
}
.e134_118 { 
	box-shadow:0px 0px 23px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:236px;
	height:152px;
	position:absolute;
	left:0px;
	top:0px;
}
.134_118 { 
	border:0.30000001192092896px solid rgba(0, 0, 0, 1);
}
.e134_119 { 
	color:rgba(0, 0, 0, 1);
	width:176px;
	height:64px;
	position:absolute;
	left:15px;
	top:22px;
	font-family:EB Garamond;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e134_120 { 
	color:rgba(0, 0, 0, 1);
	width:176px;
	height:37px;
	position:absolute;
	left:15px;
	top:75px;
	font-family:Familjen Grotesk;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e134_121 { 
	width:35px;
	height:26px;
	position:absolute;
	left:188px;
	top:28px;
}
.e134_122 { 
	border-radius:500px;
	background-color:rgba(0, 0, 0, 1);
	width:26px;
	height:26px;
	position:absolute;
	left:5px;
	top:0px;
}
.e134_123 { 
	color:rgba(255, 255, 255, 1);
	width:35px;
	height:17px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Familjen Grotesk;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e134_124 { 
	width:166px;
	height:166px;
	position:absolute;
	left:105px;
	top:111px;
}
.e134_125 { 
	width:166px;
	height:166px;
	position:absolute;
	left:0px;
	top:0px;
}
.134_126 { 
	overflow:hidden;
}
.e134_126 { 
	border-radius:500px;
	width:166px;
	height:166px;
	position:absolute;
	left:0px;
	top:0px;
}
.e134_127 { 
	width:199.43055725097656px;
	height:258.22222900390625px;
	position:absolute;
	left:-6.340461730957031px;
	top:-92.22221374511719px;
	background-image:url(images/apple_and_beet_salad07_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e134_128 { 
	width:271px;
	height:277px;
	position:absolute;
	left:-229px;
	top:63px;
}
.e134_129 { 
	box-shadow:0px 0px 23px rgba(0, 0, 0, 0.25);
	background-color:rgba(255, 255, 255, 1);
	width:236px;
	height:152px;
	position:absolute;
	left:0px;
	top:0px;
}
.134_129 { 
	border:0.30000001192092896px solid rgba(0, 0, 0, 1);
}
.e134_130 { 
	color:rgba(0, 0, 0, 1);
	width:176px;
	height:64px;
	position:absolute;
	left:15px;
	top:22px;
	font-family:EB Garamond;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}
.e134_131 { 
	color:rgba(0, 0, 0, 1);
	width:176px;
	height:37px;
	position:absolute;
	left:17px;
	top:61px;
	font-family:Familjen Grotesk;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e134_132 { 
	width:35px;
	height:26px;
	position:absolute;
	left:185px;
	top:25px;
}
.e134_133 { 
	border-radius:500px;
	background-color:rgba(0, 0, 0, 1);
	width:26px;
	height:26px;
	position:absolute;
	left:5px;
	top:0px;
}
.e134_134 { 
	color:rgba(255, 255, 255, 1);
	width:35px;
	height:17px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Familjen Grotesk;
	text-align:center;
	font-size:10px;
	letter-spacing:0;
}
.e134_135 { 
	width:166px;
	height:166px;
	position:absolute;
	left:105px;
	top:111px;
}
.e134_136 { 
	width:166px;
	height:166px;
	position:absolute;
	left:0px;
	top:0px;
}
.134_137 { 
	overflow:hidden;
}

.e134_137 { 
	border-radius:500px;
	width:166px;
	height:166px;
	position:absolute;
	left:0px;
	top:0px;
}
.e134_138 { 
	width:199.43055725097656px;
	height:258.22222900390625px;
	position:absolute;
	left:-6.340461730957031px;
	top:-92.22221374511719px;
	background-image:url(images/apple_and_beet_salad07_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
