html {
  font-family: 'Raleway', sans-serif;
  background-color: #FEFBF4;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* START OF NAVIGATION */

#hamburger {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 1.25vw;
  margin-top: 3vh;
}

.logo {
  width: 4vw;
  margin-right: 70%;
}

.menu-1, .menu-2, .menu-3, .menu-4 {
  margin-right: 2vw;
  margin-top: 0.5vh;
}

a:link {
  text-decoration: none;
  color: #BF1F2D;
}

a:visited { 
  text-decoration: none; 
  color: #BF1F2D;
}

a:hover { 
  text-decoration: none; 
  color: #BF1F2D;
  font-weight: 700;
}

a:active { 
  text-decoration: none; 
  color: #BF1F2D;
}

/* END OF NAVIGATION */
/* DELIVERY BUTTON */

.button-container {
  display: flex;
  align-self: flex-end;
  margin-top: 15vh;
  margin-right: 5vw;
  margin-bottom: 5vh;
}

.button {
  color: #BF1F2D;
  border: 1px solid #BF1F2D;
  padding: 0.75vw;
}

.button:hover {
  color: #FEFBF4;
  background-color: #BF1F2D;
  cursor: pointer;
}

/* END OF BUTTON */

/* START OF MENU ITEMS */

/* APPETIZERS */
.appetizer-section {
  color: #BF1F2D;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 3.5vw;
}

.app-content {
  padding: 18px;
  display: none;
  overflow: auto;
  white-space: nowrap;
}

.app-content .box {
  display: inline-block;
}

button {
  background-color: #FEFBF4;
}

.box {
  border: 0.8px solid black;
  width: 400px;
  color: black;
  padding: 2vw;
  padding-top: 1vh;
  display: flex;
  margin-top: 2vh;
  margin-right: 2vw;
  margin-bottom: 3vh;
}

.bugak {
  margin-left: 2vw;
}

.bugak-chips {
  margin-right: 5vw;
}

.cauliflower {
  margin-right: 2vw;
}

.milk-bread {
  margin-right: 5vw;
}

.shrimp-pork {
  margin-right: 5vw;
}

.soy-caramel {
  margin-right: 4vw;
}

.mushroom-tofu {
  margin-right: 3vw;
}


/* .box.bugak:hover {
  color: blue;
  background-color: #BF1F2D;
} */

.food-container {
  display: flex;
}

.dish-name {
  font-family: 'Cormorant', serif;
  font-weight: 400;
  font-size: 2.5vw;
}

.ingredients {
  font-size: 1vw;
}

.additionals {
  font-size: 1vw;
}

.tag {
  background-color: black;
  color: #FEFBF4;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -2vh;
  margin-top: 3vh;
}

.white {
  background-color: #FEFBF4;
  color: black;
  border: 1px solid black;
}

.container {
  display: flex;
}

.food-image {
  width: 200px;
  margin-left: -8vw;
  margin-top: 10vh;
  /* margin-top: 15vh; */
}

/* END OF APPETIZERS */
/* START OF PRODUCE */

.produce-section {
  color: #BF1F2D;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 3.5vw;
}

.produce-content {
  padding: 18px;
  display: none;
  overflow: auto;
  white-space: nowrap;
}

.produce-content .box {
  display: inline-block;
}

.bamboo {
  margin-left: 2vw;
}

.produce {
  width: 300px;
  margin-left: 2vw;
}

.watermelon {
  margin-right: 2vw;
}



/* END OF PRODUCE */
/* START OF ENTREES */

.entree-section {
  color: #BF1F2D;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 3.5vw;
}

.entree-content {
  padding: 18px;
  display: none;
  overflow: auto;
  white-space: nowrap;
}

.entree-content .box {
  display: inline-block;
}

.entree {
  margin-left: 2vw;
}

.steak {
  margin-right: 3vw;
}

.shrimp {
  margin-right: 2vw;
}

.chicken {
  margin-right: 1.5vw;
}

.branzino {
  margin-right: 5vw;
}

.rose-udon {
  margin-right: 5vw;
}

.rose-img {
  margin-left: -7vw;
}

/* END OF ENTREES */
/* START OF SIDES */

.sides-section {
  color: #BF1F2D;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 3.5vw;
}

.sides-content {
  padding: 18px;
  display: none;
  overflow: auto;
  white-space: nowrap;
}

.sides-content .box {
  display: inline-block;
}

.sides {
  margin-left: 2vw;
}

.rice {
  padding-right: 15vw;
}

.rice-box {
  width: 50vw;
}

.brussel {
  margin-right: 5vw;
}

.cucumber {
  margin-right: 5vw;
}

/* END OF SIDES */
/* START OF DESSERTS */


.desserts-section {
  color: #BF1F2D;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 3.5vw;
}

.desserts-content {
  padding: 18px;
  display: none;
  overflow: auto;
  white-space: nowrap;
}

.desserts-content .box {
  display: inline-block;
}

.desserts {
  margin-left: 2vw;
}

.matcha {
  margin-right: 4vw;
}

.lava {
  margin-right: 4vw;
}

/* END OF DESSERTS */
/* START OF DRINKS */

.drinks-section {
  color: #BF1F2D;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 3.5vw;
}

.drinks-content {
  padding: 18px;
  display: none;
  overflow: auto;
  white-space: nowrap;
}

.drinks-content .box {
  display: inline-block;
}

.drinks-box {
  margin-right: 2vw;
}

.drinks {
  margin-left: 2vw;
}

.thai {
  margin-right: 4vw;
}

.soda {
  margin-right: 4vw;
}

.lemonade {
  margin-right: 4vw;
}

/* END OF DRINKS */
/* START OF COCKTAILS */

.cocktails-section {
  color: #BF1F2D;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 3.5vw;
}

.cocktails-content {
  padding: 18px;
  display: none;
  overflow: auto;
  white-space: nowrap;
}

.cocktails-content .box {
  display: inline-block;
}

.cocktails-box {
  margin-right: 2vw;
}

.cocktails {
  margin-left: 2vw;
}

.bourbon {
  margin-right: 4vw;
}

.singapore {
  margin-right: 4vw;
}

.mango {
  margin-right: 4vw;
}

.thai-gimlet {
  margin-right: 4vw;
}

.thai-basil {
  margin-right: 4vw;
}

.thai-gin {
  margin-right: 4vw;
}

.dark-stormy {
  margin-right: 4vw;
}

.tokyo {
  margin-right: 4vw;
}

.lemongrass {
  margin-right: 4vw;
}

.thai-gin {
  margin-right: 4vw;
}

.green-tea {
  margin-right: 4vw;
}




/* END OF COCKTAILS */


/* UP BUTTON */
#up-sec{
  margin-top: 10vh;
  margin-left: 90vw;
  margin-bottom: 10vh;
}

/* FOOTER */

hr {
  width: 100%;
  border: 0.5px solid #BF1F2D;
}

footer {
  padding: 15vh;
  background-color: #FEFBF4;
}

#foot {
  color: #BF1F2D;
  padding-top: 2vw;
  padding-bottom: 2vw;
}

#info {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

#location, #hours, #phone {
  margin-right: 5vw;
}

h3 {
  font-weight: 500;
}

#instagram, #tiktok {
  font-weight: 700;
}

/* END OF FOOTER */
/* START OF MEDIA SCREEN */

/* @media screen and (min-width: 1000px) {
  .produce-container {
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .produce-section {
      width: 100%;
  }
} */

@media screen and (max-width: 500px) {
  .logo {
      margin-right: 20%;
      width: 13vw;
  }
  #hamburger {
      font-size: 4vw;
  }
  .button-container {
      align-self: center;
      margin-top: 10vh;
      margin-right: 0;
      margin-left: 0;
  }
  .tag {
      margin-bottom: 2vh;
  }
  .appetizer-section {
      font-size: 12vw;
  }
  .produce-section {
      font-size: 12vw;
  }
  .entree-section {
      font-size: 12vw;
  }
  .sides-section {
      font-size: 12vw;
  }
  .desserts-section {
      font-size: 12vw;
  }
  .drinks-section {
      font-size: 12vw;
  }
  .cocktails-section {
      font-size: 12vw;
  }
  .drinks-box {
      margin-right: 10vw;
  }
  .appetizers {
      width: 300px;
  }
  .dish-name {
      font-size: 9vw;
      margin-top: 1vh;
      /* width: 3vw; */
  }
  .ingredients {
      font-size: 3.5vw;
  }
  .additionals {
      font-size: 3vw;
  }
  .food {
      margin-right: 2vw;
  }
  .bugak-chips {
      margin-right: 12vw;
  }
  .chicken {
      margin-right: 20vw;
  }
  .steak {
      margin-right: 16vw;
  }
  .shrimp {
      margin-right: 20vw;
  }
  .branzino {
      margin-right: 15vw;
  }
  .rose-udon {
      margin-right: 20vw;
  }
  .singapore {
      margin-right: 6vw;
  }
  .tag {
      margin-top: 1vh;
      height: 40px;
      width: 40px;
  }
  .white {
      border: 0.75px solid black;
  }
  .food-image {
      margin-left: -20vw;
  }
  .cauli-img {
      margin-left: -30vw;
  }
  .garlic-img {
      margin-left: -30vw;
  }
  .shrimp-img {
      margin-left: -25vw;
  }
  .soy-img {
      margin-left: -30vw;
  }
  .black-img {
      margin-left: -30vw;
  }
  .beet-img {
      margin-left: -30vw;
  }
  .bamboo-img {
      margin-left: -25vw;
  }
  .asparagus-img {
      margin-left: -30vw;
  }
  .steak-img {
      margin-left: -30vw;
  }
  .spicyshrimp-img {
      margin-left: -30vw;
  }
  h1 span:nth-of-type(1) {
      display: block;
  }
  .additional-info {
      font-size: 4vw;
  }
  .chicken-img {
      margin-left: -30vw;
  }
  .branzino-img {
      margin-left: -30vw;
  }
  .rose-img {
      margin-left: -25vw;
  }
  .brussel-img {
      margin-left: -30vw;
  }
  .cucumber-img {
      margin-left: -30vw;
  }
  .rice-img {
      margin-left: -30vw;
  }
  .matcha-img {
      margin-left: -30vw;
  }
  .lava-img {
      margin-left: -30vw;
  }
  .ginger-img {
      margin-left: -30vw;
  }
  .singapore-img {
      margin-left: -30vw;
  }
  .mango-img {
      margin-left: -30vw;
  }
  .gimlet-img {
      margin-left: -30vw;
  }
  .thaigin-img {
      margin-left: -30vw;
  }
  .basil-img {
      margin-left: -30vw;
  }
  .stormy-img {
      margin-left: -30vw;
  }
  .tokyo-img {
      margin-left: -30vw;
  }
  .lemongrass-img {
      margin-left: -30vw;
  }
  .green-tea-img {
      margin-left: -30vw;
  }
  #up-sec {
      margin-left: 45%;
  }
  #info {
      text-align: center;
  }
  #location {
      margin-top: 0;
      order: 1;
      width: 100%;
  }
  
  #hours {
      margin-top: 0;
      order: 2;
      width: 100%;
  }
  
  #phone {
      margin-top: 0;
      order: 3;
      width: 100%;
  }
  
  #social {
      margin-top: 0;
      order: 4;
      width: 100%;
  }
  #location, #hours, #phone, #social {
      margin-right: 0;
  }
}

/* END OF MEDIA SCREEN */